﻿body {
  margin:0px;
  background-image:none;
  position:relative;
  left:0px;
  width:808px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u13311_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1600px;
  height:1200px;
}
#u13311 {
  border-width:0px;
  position:absolute;
  left:-396px;
  top:-332px;
  width:1600px;
  height:1200px;
  display:flex;
}
#u13311 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13311_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
