section.login {
    width: 100%;
    max-width: 600px;
    margin: 150px auto 0;
}

.login h1 {
    margin-bottom: 40px;
    font-size: 32px;
    font-weight: bold;
    text-align: center;
}

.login .row {
    align-items: center;
    margin-bottom: 30px;
}

.login label {
    margin: 0;
}
.error-message {
    display: block;
    min-height: 16px;
    margin-top: 5px;
    color: red;
    font-size: 14px;
}