.top-header {
  font-size: 14px;
  text-align: right;
  padding: 6px;
}

@media screen and (min-width: 600px) {
  .top-header {
    font-size: 16px;
    text-align: right;
    padding: 8px;
  }
}

@media screen and (min-width: 960px) {
  .top-header {
    font-size: 18px;
    text-align: right;
    padding: 10px;
  }
}

@media screen and (min-width: 1280px) {
  .top-header {
    font-size: 20px;
    text-align: right;
    padding: 14px;
  }
}

/* @media screen and (min-width: 1600px) {
  .top-header {
    font-size: 25px;
    text-align: right;
    padding: 25px;
  }
}

@media screen and (min-width: 1920px) {
  .top-header {
    font-size: 25px;
    text-align: right;
    padding: 25px;
  }
} */
