.app-logo {
  width: 200px;
}

.sign-up-btn {
  border-radius: 100px;
  padding: 0 15px;
  margin-left: 25px;
  border: 1px solid #85c525;
}

.sign-in-btn {
  border-radius: 100px;
  padding: 0 15px;
  margin-left: 25px;
  border: 1px solid #8596a2;
}

.btn-sign-in-tablet {
  border: none;
  background: none;
}

@media screen and (min-width: 1920px) {
  .ob-navbar {
    padding: 25px 1rem;
  }
}

.ob-navbar {
  font-size: 14px;
}

.header-wrapper .breadcrum {
  margin-bottom: 15px;
}

.header-wrapper .breadcrum a {
  color: #aaaaaa;
}

.header-wrapper .breadcrum a:hover {
  color: #089faf;
}

.header-wrapper h2 {
  font-family: "Arial", "Helvetica", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 32px;
}

.header-wrapper p {
  margin-bottom: 10px;
}

.header-wrapper .iq-card {
  /* border-radius: 25px 0 0 0; */
}

.header-wrapper .iq-card-body {
  padding-bottom: 10px;
}

/* #3f414d */