/* cyrillic-ext */
@font-face {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/sourcesanspro/v14/6xK3dSBYKcSV-LCoeQqfX1RYOo3qNa7lujVj9_mf.woff2) format("woff2");
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F,
    U+FE2E-FE2F;
}

/* cyrillic */
@font-face {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/sourcesanspro/v14/6xK3dSBYKcSV-LCoeQqfX1RYOo3qPK7lujVj9_mf.woff2) format("woff2");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

/* greek-ext */
@font-face {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/sourcesanspro/v14/6xK3dSBYKcSV-LCoeQqfX1RYOo3qNK7lujVj9_mf.woff2) format("woff2");
  unicode-range: U+1F00-1FFF;
}

/* greek */
@font-face {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/sourcesanspro/v14/6xK3dSBYKcSV-LCoeQqfX1RYOo3qO67lujVj9_mf.woff2) format("woff2");
  unicode-range: U+0370-03FF;
}

/* vietnamese */
@font-face {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/sourcesanspro/v14/6xK3dSBYKcSV-LCoeQqfX1RYOo3qN67lujVj9_mf.woff2) format("woff2");
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1,
    U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}

/* latin-ext */
@font-face {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/sourcesanspro/v14/6xK3dSBYKcSV-LCoeQqfX1RYOo3qNq7lujVj9_mf.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB,
    U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/sourcesanspro/v14/6xK3dSBYKcSV-LCoeQqfX1RYOo3qOK7lujVj9w.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

/* cyrillic-ext */
@font-face {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 600;
  src: url(https://fonts.gstatic.com/s/sourcesanspro/v14/6xKydSBYKcSV-LCoeQqfX1RYOo3i54rwmhdu3cOWxy40.woff2) format("woff2");
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F,
    U+FE2E-FE2F;
}

/* cyrillic */
@font-face {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 600;
  src: url(https://fonts.gstatic.com/s/sourcesanspro/v14/6xKydSBYKcSV-LCoeQqfX1RYOo3i54rwkxdu3cOWxy40.woff2) format("woff2");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

/* greek-ext */
@font-face {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 600;
  src: url(https://fonts.gstatic.com/s/sourcesanspro/v14/6xKydSBYKcSV-LCoeQqfX1RYOo3i54rwmxdu3cOWxy40.woff2) format("woff2");
  unicode-range: U+1F00-1FFF;
}

/* greek */
@font-face {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 600;
  src: url(https://fonts.gstatic.com/s/sourcesanspro/v14/6xKydSBYKcSV-LCoeQqfX1RYOo3i54rwlBdu3cOWxy40.woff2) format("woff2");
  unicode-range: U+0370-03FF;
}

/* vietnamese */
@font-face {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 600;
  src: url(https://fonts.gstatic.com/s/sourcesanspro/v14/6xKydSBYKcSV-LCoeQqfX1RYOo3i54rwmBdu3cOWxy40.woff2) format("woff2");
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1,
    U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}

/* latin-ext */
@font-face {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 600;
  src: url(https://fonts.gstatic.com/s/sourcesanspro/v14/6xKydSBYKcSV-LCoeQqfX1RYOo3i54rwmRdu3cOWxy40.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB,
    U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 600;
  src: url(https://fonts.gstatic.com/s/sourcesanspro/v14/6xKydSBYKcSV-LCoeQqfX1RYOo3i54rwlxdu3cOWxw.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

body #root,
.modal {
  font-size: 12px;
  font-family: "ArialMT", "Arial";
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  color: #333333;
  line-height: normal;
  text-transform: none;
}

body p {
  line-height: 16px;
}

body .rbc-event {
  background: #169bd5;
  border-radius: 15px;
}

.wrapper .iq-sidebar {
  /* background: #089bab;
  background: linear-gradient(to right, #089bab 0%, #0db5c8 100%); */
}

body.sidebar-main .iq-sidebar {
  /* width: 260px; */
}

body.sidebar-main .iq-sidebar .iq-sidebar-menu .iq-menu li a .fa-chevron-right {
  opacity: 0;
  display: none;
  transition: all 0.45s ease 0s;
}

body.sidebar-main .iq-sidebar:hover .iq-sidebar-menu .iq-menu li a .fa-chevron-right {
  opacity: 1;
  display: block;
}

.iq-sidebar-menu .iq-menu li a span {
  white-space: normal;
}

.content-page {
  padding: 30px 15px 0;
  border-radius: 25px 0 0 25px;
}

a.btn,
button.btn {
  min-width: 90px;
  padding: 10px 15px;
  text-align: center;
  border: none;
  border-radius: 5px !important;
  font-size: 12px !important;
}

.modal-content .modal-footer>* {
  margin: 0;
}

.form-group label {
  margin-bottom: 10px;
}

.form-group {
  margin-bottom: 15px !important;
}

button.btn.btn-orange {
  background: #d57d17;
}

button.btn.btn-secondary {
  /* background: white;
  border-color: #5a6268 !important;
  color: #333333; */
}

button.btn.btn-primary:hover {
  /* background: #0069d9 !important; */
}

button.btn.btn-secondary:hover {
  /* background: #6c757d !important;
  color: white; */
}

table.table thead {
  background: #089faf;
  color: white;
  padding: 5px 0;
}

table.table th {
  padding: 15px;
  vertical-align: middle;
  text-align: center;
  font-size: 13px;
  border: solid 1px #dee2e6;
  border-bottom: 1px solid #dee2e6 !important;
  font-weight: 600;
  line-height: 1.5;
}

table.table th span {
  position: relative;
}

table.table th,
table.table td {
  vertical-align: middle;
  text-align: center;
  border: solid 1px #dee2e6;
  padding: 20px 10px;
}

table.table {
  margin-bottom: 0;
}

table.table td {
  font-size: 12px;
}

table.table tbody.text-left td {
  text-align: left;
}

table.table td>i {
  cursor: pointer;
  font-size: 24px !important;
}

table.table td>a>i {
  cursor: pointer;
  font-size: 24px !important;
}

table.table tbody tr:nth-child(2n) {
  background: rgba(0, 0, 0, 0.05);
}

.tb-width-50 {
  min-width: 50px !important;
  max-width: 50px !important;
  width: 50px !important;
}

.tb-width-100 {
  min-width: 100px !important;
}

.tb-width-150 {
  min-width: 150px !important;
}

.tb-width-200 {
  min-width: 200px !important;
}

.tb-width-250 {
  min-width: 250px !important;
}

.tb-width-300 {
  min-width: 300px !important;
}

.tb-width-350 {
  min-width: 350px !important;
}

.tb-width-400 {
  min-width: 400px !important;
}

.tb-width-450 {
  min-width: 450px !important;
}

.tb-width-500 {
  min-width: 500px !important;
}

.cl-name {
  display: flex;
  align-items: center;
}

.cl-name-text {
  width: 100%;
  padding-right: 10px;
  text-align: left;
}

.cl-name-name {
  width: 40px;
  min-width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
  text-align: center;
}

.cl-name-name img {
  width: 40px;
}

.popover-body {
  padding: 0 !important;
}


.popover-body ul {
  margin-bottom: 0;
  padding: 0;
  list-style: none;
  font-size: 14px;
}

.popover-body ul li {
  padding: 5px 20px;
  cursor: pointer;
  font-size: 12px;
  transition: all 0.25s ease-in-out;
}

.popover-body ul li a {
  text-decoration: none;
  color: #212529;
}

.popover-body ul li:hover {
  background: #099eae;
  color: white;
}

.popover-body ul li:hover a {
  color: white;
}

.popover>.arrow {
  display: none !important;
}

.no-shadow {
  box-shadow: none !important;
}

.form-group {
  margin-bottom: 10px;
}

ul {
  padding: 0;
  list-style: none;
}

ul.vertical {
  display: flex;
}

ul.vertical li {
  padding-right: 10px;
}

.tag {
  padding: 10px 15px;
  border-radius: 30px;
  background-color: #e4e4e4;
}

.tag i {
  cursor: pointer;
}

.dropzone {
  padding: 20px;
  border: 1px solid #ced4da;
  text-align: center;
}

.rbc-calendar {
  -ms-flex: 1 1;
  flex: 1 1;
  min-height: 580px;
}

.rmsc .dropdown-container {
  height: 30px;
  border-radius: 5px !important;
  font-size: 12px;
}

.rmsc .dropdown-container[aria-disabled="true"] {
  background-color: #e9ecef;
}

.rmsc .dropdown-container[aria-disabled="true"] .dropdown-heading-value .gray {
  color: #3f414d
}



.rmsc .dropdown-container .dropdown-content {
  z-index: 100;
}

.rmsc .dropdown-container .fa-chevron-down {
  margin-right: -5px;
  margin-top: 1px;
  font-size: 12px;
}

.rmsc .dropdown-container .clear-selected-button {
  transform: scale(0.6);
}

.rmsc .dropdown-container .clear-selected-button svg {
  color: #495057;
}

.status {
  padding: 10px 15px;
  background: #007e21;
  color: white;
  border-radius: 20px;
}

.status.inactive {
  background: #b90000;
}

.custom-control-label::before {
  top: 5px;
}

.color-popover {
  position: absolute;
  z-index: 2;
}

.color-block {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.status.All {
  background-color: #169bd5;
}

.status.None {
  background-color: #7c098d;
}

.status.not_yet_start {
  background-color: #16d5d0;
}

.status.studying {
  background-color: #19871d;
}

.status.finishing,
.status.AbsentAuth {
  background-color: #d57217;
}

.status.finished,
.status.Present {
  background-color: #169bd5;
}

.status.cancelled {
  background-color: #686868;
}

.status.not_yet_configured {
  background-color: #f0aa01;
}

.status.AbsentUnauth {
  background-color: #d51c15;
}

.status.configured,
.status.configuring {
  background-color: #19871d;
}

.rmsc label {
  margin: 0 !important;
}

.align-center {
  align-items: center !important;
}

.align-end {
  align-items: flex-end !important;
}

.rating {
  font-size: 18px;
  cursor: pointer;
}

.rating>span:not(:last-child) {
  margin-right: 5px;
}

table.table td select {
  height: 30px;
  padding: 5px 10px;
}

.form-group,
input {
  font-size: 14px;
}

a.not-link {
  color: #212529;
  text-decoration: none;
}

.btn-icon {
  display: block;
  width: 30px;
  padding: 10px 8px 9px;
  font-size: 10px;
  color: white;
  background: #169bd5;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
}

.font-18 {
  font-size: 18px !important;
}

h1.card-title {
  font-family: "Arial Bold", "Arial";
  font-weight: 700;
  font-style: normal;
  font-size: 32px;
  margin-bottom: 30px;
}

.iq-card {
  font-size: 12px;
}

.user-info {
  font-size: 20px;
}

.user-info li {
  margin-top: 10px;
}

.iq-card-body {
  /* padding: 20px 40px; */
}

.nav-tabs .nav-link {
  padding: 20px 25px;
  color: #333333;
}

.nav-tabs .nav-link.active {
  background-color: #089faf !important;
  color: white !important;
}

.tab-content {
  padding: 20px 0 0;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  border-bottom: 1px solid #089faf;
}

body fieldset {
  width: 100% !important;
  padding: 20px 15px;
  border: solid 1px #797979 !important;
  border-radius: 5px;
}

fieldset legend {
  width: auto;
  margin-left: -5px;
  margin-bottom: 0;
  padding: 0 5px;
  font-size: 13px;
  font-weight: bold;
}

fieldset label,
fieldset textarea,
fieldset p,
fieldset span,
fieldset a,
fieldset input,
fieldset select {
  font-size: 12px;
}

.m-t-3 {
  margin-top: 30px !important;
}

.m-b-3 {
  margin-bottom: 30px !important;
}

.m-b-2 {
  margin-bottom: 20px !important;
}

.m-b-1 {
  margin-bottom: 10px !important;
}

.m-t-1 {
  margin-top: 10px !important;
}

.m-t-2 {
  margin-top: 20px !important;
}

.m-0 {
  margin: 0 !important;
}

.form-control {
  border: 1px solid #d7dbda !important;
  border-radius: 5px !important;
  line-height: 1.5;
  color: #3f414d;
}

.table.table-bordered thead td,
.table.table-bordered thead th {
  border-bottom-width: 1px;
}

.h4.modal-title {
  font-size: 28px;
  font-weight: bold;
}

.modal-content .modal-body {
  padding: 20px 15px;
}

.custom-radio .custom-control-label::before {
  top: -1px;
}

.btn-google {
  position: relative;
  display: inline-block;
  padding: 15px 50px 15px 15px;
  font-size: 20px;
  background: #4688f1;
  color: white;
  font-weight: bold;
  border-radius: 5px;
}

.btn-google .fab {
  margin-right: 50px;
  font-size: 30px;
  color: white;
  vertical-align: middle;
}

.btn-google span {
  vertical-align: middle;
}

.btn-google--overlay {
  position: absolute;
  z-index: 2;
  left: 0;
  top: 0;
  width: 100% !important;
  height: 100% !important;
  /* visibility: hidden !important; */
  opacity: 0 !important;
}

.iq-card-body h6 {}

div.rbc-header {
  padding: 6px 3px;
}

div.rbc-row-segment {
  padding: 3px;
}

div.rbc-event,
div.rbc-day-slot div.rbc-background-event {
  padding: 5px 10px;
}

.iq-card .iq-card-header {
  min-height: 45px;
  margin-bottom: 0;
  padding-top: 5px;
}

.text-right {
  text-align: right !important;
}

.text-center {
  text-align: center !important;
}

@media (max-width: 1299px) {
  .iq-sidebar {
    display: inline-block;
    z-index: 999;
    left: 0;
  }

  .content-page,
  body.sidebar-main .content-page {
    margin-left: 260px;
  }

  .wrapper-menu {
    text-align: right;
    padding-right: 20px;
  }

  .wrapper-menu.open .hover-circle {
    right: 20px;
    text-align: right;
  }
}

.iq-top-navbar {
  display: none;
}

@media (max-width: 768px) {

  table.table th,
  table.table td {
    padding: 10px;
  }

  .iq-top-navbar {
    display: block;
    background: transparent;
    box-shadow: none;
  }

  .iq-sidebar {
    display: inline-block;
    z-index: 99;
    left: -260px;
  }

  .content-page,
  body.sidebar-main .content-page {
    margin-top: 90px;
    margin-left: 0;
    border-radius: 0;
  }

  .wrapper {
    overflow: hidden;
    background: #eff7f8;
  }
}

.not-found {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 10px;
  text-align: center;
  font-size: 14px;
  border: solid 1px #dee2e6;
  color: #aaaaaa;
}

.not-found i {
  margin-right: 15px;
  font-size: 30px;
}

.not-found span {}

.modal-header {
  padding: 15px 15px 12px !important;
  background: #089faf;
  color: white;
}

.h4.modal-title {
  font-size: 13px;
}

.modal-header button.close {
  padding: 10px 15px;
  margin: -16px -12px -12px auto;
  opacity: 1;
  color: white;
}

tr input[type="checkbox"],
td input[type="checkbox"] {
  margin-top: 5px;
}

table th.sort span:after {
  position: absolute;
  content: "\25b2";
  font-size: 7px;
  padding-left: 0;
  line-height: 0;
  right: -15px;
  top: calc(50% - 2px);
  transform: translateY(50%) scaleX(1.5);
  transition: all 0.25s ease;
  color: #c0c4cc;
}

table th.sort span:before {
  position: absolute;
  content: "\25bc";
  font-size: 7px;
  padding-left: 0;
  line-height: 0;
  right: -15px;
  top: calc(50% + 5px);
  transform: translateY(50%) scaleX(1.5);
  transition: all 0.25s ease;
  color: #c0c4cc;
}

table th.sort {
  cursor: pointer;
}

table th.active.sort span:before {
  color: #c0c4cc;
}

table th.active.sort span::after {
  color: white;
}

table th.active.sort.desc span::after {
  color: #c0c4cc;
}

table th.active.sort.desc span::before {
  color: white;
}

input[type="date"].form-control,
input[type="datetime-local"].form-control,
input[type="month"].form-control,
input[type="time"].form-control,
input[type="text"].form-control,
input[type="checkbox"].form-control,
select.form-control,
input[type="email"].form-control,
input[type="tel"].form-control,
input[type="number"].form-control,
textarea.form-control,
input[type="password"].form-control {
  font-size: 12px !important;
  padding: 6px 10px !important;
  border-radius: 5px;
}

.form-control-lg {
  height: 30px !important;
}

input[type="file"].form-control-lg {
  font-size: 14px;
  padding: 15px 15px 40px !important;
}

.form-group label {
  margin-bottom: 8px;
  font-size: 12px;
  font-weight: bold;
}

.form-group {
  font-size: 12px;
}

.rmsc {
  --rmsc-h: 30px !important;
}

.iq-sidebar-menu .iq-menu li li a {
  font-size: 12px !important;
}

.iq-card .iq-card-body {
  padding: 20px;
}

.iq-card .iq-header-title h6 {
  margin-bottom: 0;
}

.tooltip-inner {
  background: #089faf !important;
  color: white !important;
  font-size: 12px;
}

.arrow::before {
  /* background: #089faf !important; */
  border-bottom-color: #089faf !important;
}

.custom-radio .custom-control-label::after {
  top: 0px;
  left: -27px;
  width: 16px;
  height: 16px;
}

.custom-radio .custom-control-label::before {
  top: 0;
  width: 16px;
  height: 16px;
  /* border: none; */
}

.custom-radio .custom-control-label {
  font-weight: normal;
}

.custom-control.custom-radio {
  min-height: 15px;
}

.p-image {
  padding-top: 2px;
}

.p-image .upload-button {
  font-size: 14px;
}

.item-renderer {
  font-size: 12px;
  font-weight: normal;
}

.iq-navbar-custom-mobile {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.iq-navbar-custom .navbar.navbar-light {
  padding: 20px 15px;
  background: white;
  border-radius: 25px;
  box-shadow: 0px 4px 5px 1px rgb(175 175 175 / 10%);
}

.fixed-header .iq-navbar-custom .navbar.navbar-light {
  border-radius: 0;
}

body.sidebar-main .iq-top-navbar {
  margin: 0;
  width: 100% !important;
}

body.sidebar-main .iq-navbar-custom .navbar.navbar-light {
  /* padding: 30px 15px; */
  border-radius: 0;
}

.sidebar-main .wrapper::before {
  content: "";
  position: fixed;
  background: black;
  width: 100%;
  height: 100%;
  z-index: 90;
  opacity: 0.2;
}

.font-24 {
  font-size: 24px !important;
}

.icon-action {
  cursor: pointer;
}

.text-left {
  text-align: left !important;
}

.iq-sidebar-menu .iq-menu>li>a[aria-expanded="true"] {
  color: #089bab;
  background-color: #ffffff;
  text-decoration: none;
  transition: none;
}

.error-message {
  margin: 5px 0 !important;
  color: red;
  font-size: 10px !important;
}

.handler-wrapper {
  position: fixed;
  top: 0;
  left: 50%;
  margin-left: -125px;
  width: 280px;
  height: 200px;
  z-index: 9999;
}

.handler {
  width: 100%;
  position: relative;
}

.handler-error {
  display: block;
  font-size: 14px;
  width: 250px;
  padding: 15px 20px;
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -125px;
  box-sizing: border-box;
  border-radius: 10px;
  color: white;
  font-weight: bold;
  text-align: center;
  box-shadow: 0 3px 0 rgba(0, 0, 0, 0.2);
  background-color: #9b59b6;
  -webkit-animation: moveOpen 4s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-fill-mode: forwards;
}

.handler-success {
  display: block;
  font-size: 14px;
  width: 250px;
  padding: 15px 20px;
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -125px;
  box-sizing: border-box;
  border-radius: 10px;
  color: white;
  font-weight: bold;
  text-align: center;
  box-shadow: 0 3px 0 rgba(0, 0, 0, 0.2);
  background-color: #3498db;
  animation: moveOpen 4s;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
}


.animateOpen {
  animation: moveOpen 4s;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
}

/* Safari and Chrome */
@keyframes moveOpen {
  from {
    -webkit-transform: translate(0, -100px);
  }

  10% {
    -webkit-transform: translate(0, 20px);
  }

  12% {
    -webkit-transform: translate(0, 22px);
  }

  16% {
    -webkit-transform: translate(0, 20px);
  }

  80% {
    -webkit-transform: translate(0, 20px);
  }

  85% {
    -webkit-transform: translate(0, 25px);
  }

  to {
    -webkit-transform: translate(0, -100px);
  }
}

.permission {
  display: inline-block;
  padding: 7px 10px;
  border-radius: 10px;
  background: #089faf;
  color: white;
}

.permission-delete {
  /* font-weight: bold; */
  font-size: 18px;
  cursor: pointer;
}

.autocomplete {
  position: relative;
  display: inline-block;
}

.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
}

.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff;
  border-bottom: 1px solid #d4d4d4;
}

/*when hovering an item:*/
.autocomplete-items div:hover {
  background-color: #e9e9e9;
}

.list-default {
  padding-left: 15px;
  margin-left: 15px;
  list-style: initial;
  font-weight: bold;
}

.status-group .status {
  display: inline-block;
  margin-right: 10px;
  cursor: pointer;
}

.status-group .status:last-child {
  margin-right: 0;
}

.rbc-btn-group-custom.rbc-btn-group button {
  padding: 0;
  font-size: 34px;
  border: none;
  border-radius: 50%;
  line-height: 1;
}

.font-bold {
  font-weight: bold !important;
}

.badge {
  width: 100%;
  padding: 10px;
}

button .bagde {
  position: absolute;
  top: -16px;
  right: -17px;
  width: 35px;
  height: 35px;
  padding: 9px;
  border: solid 1px #797979;
  border-radius: 50%;
  color: black;
  text-align: center;
  background: white;
}