@import url(../css/fontawesome/css/all.min.css);
@import url(../css/fontawesome/css/fontawesome.min.css);

.wrapper{
    background: linear-gradient(to right, #089bab 0%, #0db5c8 100%);
}
body{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-style: normal;
}
table > thead th {
    text-align: center !important;
}

