.danhsach-phongkham{
    overflow-y: auto;
    height: 360px;
    padding-left: 5px;
    padding-bottom: 10px;
    padding-right: 10px;
    margin-bottom: 20px;
}
.tiep-nhan-date{

}
.tiep-nhan-date .react-datepicker-wrapper{
    width: 100%
}
/*::placeholder { !* Chrome, Firefox, Opera, Safari 10.1+ *!*/
/*    color: gray;*/
/*    opacity: 1; !* Firefox *!*/
/*}*/

/*:-ms-input-placeholder { !* Internet Explorer 10-11 *!*/
/*    color: gray;*/
/*}*/

/*::-webkit-input-placeholder { !* Edge *!*/
/*    color: red;*/
/*}*/

/*::-ms-input-placeholder { !* Microsoft Edge *!*/
/*    color: red;*/
/*}*/