.paging-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.paging {
    display: inline-block;
    padding: 0 10px;
}

.paging ul {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style-type: none;
    /* border: solid 1px #3D4E5D; */
    border-radius: 10px;
}

.paging img {
    width: 8px;
}

.paging .disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.paging ul li {
    width: 30px;
    margin-right: 10px;
    padding: 7px;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0px 4px 5px 1px rgb(0 0 0 / 10%);
    cursor: pointer;
    transition: all 0.25s ease;
    background: #f1f1f1;
}

.paging ul li:first-child {
    /* border-radius: 8px 0 0 8px; */
}

.paging ul li:last-child {
    /* border-radius: 0 8px 8px 0; */
    margin-right: 0;
}

.paging ul li:not(.disabled):hover {
    background: #3D4E5D;
    color: white;
}

.paging ul li i {
    font-size: 16px;
    line-height: 12px;
}

.paging ul li .fa-chevron-right,
.paging ul li .fa-chevron-left {
    font-size: 14px;
}

.paging ul li .fa-angle-double-right,
.paging ul li .fa-angle-double-left {
    margin-top: 2px;
}

.paging li.active {
    font-weight: bold;
    background: #089faf;
    color: white;
}

@media (max-width: 768px) {
    .paging-wrapper {
        display: block;
    }

    .paging-wrapper>span,
    .paging-wrapper>div {
        display: block;
        width: 100%;
        text-align: center;
        margin-bottom: 10px;
    }

    .paging-wrapper>span {
        margin-bottom: 20px;
    }
    .paging ul {
        justify-content: center;
    }
}

@media (max-width: 480px) {

    .paging ul li {
        width: 24px;
        padding: 5px 0;
    }
}