.loading {
    position: fixed;
    z-index: 9999;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0, 0.8);
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 2px solid white;
    border-radius: 50%;
}

.center1 {
    width: 40px;
    height: 40px;
    border-left-color: #ffc107;
    border-top-color: #ffc107;
    animation: animateCenter1 2s infinite linear;
}

.center2 {
    width: 25px;
    height: 25px;
    border-left-color: #2196f3;
    border-top-color: #2196f3;
    animation: animateCenter2 2s infinite linear;
}

.ring {
    position: absolute;
    top: 0;
    left: 50%;
    transform-origin: bottom;
    transform: translateX(-50%);
    width: 2px;
    height: 50%;
    background: transparent;
}

.center1 .ring {
    transform: translateX(-50%) rotate(45deg);
}

.center2 .ring {
    transform: translateX(-50%) rotate(-135deg);
}

.ring::before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 3px;
    height: 3px;
    border-radius: 50%;
}

.center1 .ring::before {
    background: #ffc107;
    box-shadow: 0 0 0 3px rgba(255, 193, 7, .3), 0 0 3px 5px rgba(255, 193, 7, .5);
}

.center2 .ring::before {
    background: #2196f3;
    box-shadow: 0 0 0 3px rgba(33, 150, 243, .3), 0 0 3px 5px rgba(33, 150, 243, .5);
}

@keyframes animateCenter1 {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }

    100% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

@keyframes animateCenter2 {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }

    100% {
        transform: translate(-50%, -50%) rotate(-360deg);
    }
}