.sidebar-wrapper {
    /*border-right: 1px solid #eee;*/
    display: none;
    /*font-family: 'remixicon' !important;*/
    /*font-style: normal;*/
}

.sidebar-wrapper.show {
    /*border-right: 1px solid #eee;*/
    display: block;
}

.menu-y {
    border-bottom: none
}

.menu-y li {
    display: block;
    width: 100%;
}

.menu-y li.active, .menu-y li:focus {
    background-color: #e5f1f5;
    border-radius: 15px;
}

.menu-y li.active > a, .menu-y li:focus > a {
    color: #0db5c8;
}

.menu-y li a.active, .menu-y li a:focus {
    color: rgba(0, 0, 0, 1);
    color: #C6E6F1;
    background-color: #e5f1f5;
    color: #57afce;
    color: #0db5c8;
    border-radius: 15px;
}

.menu-y li a .sidebar-item-title:hover, .menu-y li a .sidebar-item-title:focus {

}

.menu-y li a.active {
    font-weight: 600
}

.menu-y li a.active i {
    font-weight: 400
}

.menu-y li a {
    /*color: rgba(0, 0, 0, .5);*/
    color: white;
    /*border-top: 1px solid #eee;*/
    /*padding: 0 .5rem;*/
    padding: 15px;
    transition: none;
}

.menu-y li:last-child a { /* border-bottom: 1px solid #eee; */
}

.menu-y li a i {
    font-size: 20px;
    vertical-align: middle;
}

.menu-y li a i.sidebar-left-icon {
    /*font-size: 24px;*/
    /*margin-right: 8px;*/
    vertical-align: middle;
    font-size: 20px;
    margin-right: 10px;
    /*vertical-align: middle;*/
    width: 24px;
    /*display: inline-block;*/
    float: left;
}

.menu-y li .submenu-y a {
    display: block;
    padding: 12px 24px
}

.menu-y li .submenu-y a i {
    font-size: 13px;
    /*border-left: .3em solid;*/
    /*border-bottom: .3em solid transparent;*/
    /*border-right: 0;*/
    /*border-top: .3em solid transparent;*/
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: .25rem;
}

.border-color {
    border-color: #cccccc;
}

a {
    /*color: #007bff;*/
    text-decoration: none;
    background-color: transparent;
}

.thumb {
    width: 40px;
    height: 40px;
    /* background: #ea7b22; */
    line-height: 40px;
    color: #fff;
    display: inline-block;
    text-align: center;
    margin-right: 5px;
    font-size: 18px;
}

.navbar-light .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 0.5%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");

}

.navbar-toggler-icon {
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
    content: "";
    background: no-repeat center center;
    background-size: 100% 100%;
}

.dropdown.active > .dropdown-menu {
    display: block;
}
.dropdown:focus > .dropdown-menu {
    display: block;
}

.dropdown > .dropdown-toggle:active {
    /*Without this, clicking will make it sticky*/
    pointer-events: none;
}

.sidebar-scrollbar .nav-tabs {
    /*border-bottom: 1px solid #dee2e6; */
    border-bottom: 0 !important;
}

.nav-tabs .dropdown-menu {
    margin-top: -1px;
    /*border-top-left-radius: 0 !important;*/
    /*border-bottom-left-radius: 0 !important;*/
}

/*.sidebar-wrapper .dropdown-menu {*/
/*    position: absolute;*/
/*    top: 1px !important;*/
/*    left: 100% !important;*/
/*    z-index: 1000;*/
/*    display: none;*/
/*    float: left;*/
/*    min-width: 10rem;*/
/*    !*padding: .5rem 0;*!*/
/*    !*margin: .125rem 0 0;*!*/
/*    padding: 0 !important;*/
/*    margin: 0 !important;*/
/*    font-size: 1rem;*/
/*    color: #212529;*/
/*    text-align: left;*/
/*    list-style: none;*/
/*    background-color: #fff;*/
/*    background-clip: padding-box;*/
/*    border: 1px solid rgba(0, 0, 0, 0.15);*/
/*    border-radius: .25rem;*/
/*}*/

.sidebar-wrapper .dropdown-menu {
    position: unset;
    display: none;
    width: 100%;
    padding: 0 !important;
    margin: 0 !important;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    list-style: none;
    border: 0 !important;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;

}

.sidebar-wrapper .dropdown-menu ul li {
    /*padding: 5px;*/
}

.sidebar-wrapper .dropdown-menu ul li a {
    color: #777D74;
    padding: 5px 0 !important;
}

.sidebar-item-have-child .fa-angle-down {
    display: none;
}

.sidebar-item-have-child.active .fa-angle-right {
    display: none;
}

.sidebar-item-have-child.active .fa-angle-down {
    display: inherit;
}

.sidebar-item-have-child:focus .fa-angle-right {
    display: none;
}

.sidebar-item-have-child:focus .fa-angle-down {
    display: inherit;
}

.sidebar-item-have-child a {
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}

.sidebar-wrapper ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    border-bottom: 0 !important;
}

.sidebar-wrapper ul li {

}

/*.content-side-bar {*/
/*    max-height: 0;*/
/*    overflow: hidden;*/
/*    !*transition: max-height 0.5s ease-out !important;*!*/
/*    transition: max-height 0.8s ease-out !important;*/
/*    display: block !important;*/
/*}*/

/*.content-side-bar-active {*/
/*    max-height:300px;*/
/*    !*transition: max-height 0.5s ease-out !important;*!*/
/*    transition: max-height 0.9s ease-out !important;*/
/*    display: block !important;*/
/*}*/

/*.icon-arrow-side-bar {*/
/*    !*margin-left: 85px !important;*!*/
/*    font-size: 14px !important;*/
/*    font-weight: 600 !important;*/
/*}*/


.sidebar-item-icon {
    font-size: 20px;
    margin-right: 10px;
    vertical-align: middle;
    width: 20px;
    display: inline-block;
    float: left;
}

.sub-sidebar {
    border-radius: 15px;
}

.sub-sidebar li {
    color: #0db5c8;
}

.sub-sidebar li a.active, .sub-sidebar li a:hover, .sub-sidebar li a:focus {
    /*color: rgba(0, 0, 0, 1)*/
    /*color: #C6E6F1*/
    background-color: #e5f1f5;
    /*color: #57afce;*/
    color: #0db5c8;
    border-radius: 15px;
}


.sub-sidebar {
    border-bottom: none
}

.sub-sidebar li {
    display: block;
    width: 100%;
}

/*.menu-y li:hover {*/
/*  background-color: #e5f1f5;*/
/*}*/

.sub-sidebar li a.active, .sub-sidebar li a:hover, .sub-sidebar li a:focus {
    /*color: rgba(0, 0, 0, 1)*/
    /*color: #C6E6F1*/
    background-color: #e5f1f5;
    /*color: #57afce;*/
    color: #0db5c8;
    border-radius: 15px;
}

.sub-sidebar li a .sidebar-item-title:hover, .sub-sidebar li a .sidebar-item-title:focus {

}

.sub-sidebar li a.active {
    font-weight: 600
}

.sub-sidebar li a.active i {
    font-weight: 400
}

.sub-sidebar li a {
    /*color: rgba(0, 0, 0, .5);*/
    color: #0db5c8;
    /*border-top: 1px solid #eee;*/
    /*padding: 0 .5rem;*/
    padding: 15px;
    transition: none;
}

.sub-sidebar li:last-child a { /* border-bottom: 1px solid #eee; */
}

.sub-sidebar li a i {
    /*font-size: 24px;*/
    /*margin-right: 8px;*/
    vertical-align: middle;
    font-size: 20px;
    margin-right: 10px;
    /*vertical-align: middle;*/
    width: 24px;
    /*display: inline-block;*/
    float: left;
}

/*.iq-menu li a span { white-space: nowrap; padding: 0; display: inline-block; float: left; -webkit-transition: all 0.3s ease-out 0s; -moz-transition: all 0.3s ease-out 0s; -ms-transition: all 0.3s ease-out 0s; -o-transition: all 0.3s ease-out 0s; transition: all 0.3s ease-out 0s; transition: none; }*/
/*body.sidebar-main .iq-sidebar .iq-menu li a span, body.sidebar-main .iq-sidebar-logo a span, body.sidebar-main .iq-sidebar-menu .iq-menu li a .badge { opacity: 0; display: none; transition: all 0.45s ease 0s; }*/
/*.content-page, body.sidebar-main .content-page {*/
/*    margin-right: 0;*/
/*    padding: 120px 0 0;*/
/*    border-radius: 0px !important;*/
/*    margin-left: 0px !important;*/
/*}*/

body.sidebar-main .iq-sidebar:hover .iq-sidebar-menu .iq-menu li a span,
body.sidebar-main .iq-sidebar:hover .iq-sidebar-logo a span, body.sidebar-main .iq-sidebar-menu .iq-menu li a .badge,
body.sidebar-main .iq-sidebar:hover .iq-menu li a span span,
body.sidebar-main .iq-sidebar:hover .sidebar-wrapper ul h5,
body.sidebar-main .iq-sidebar:hover .navbar-brand span {
    opacity: 1;
    display: inline-block;
    transition: none;
}


body.sidebar-main .iq-sidebar-menu .iq-menu li a span,
body.sidebar-main .iq-sidebar-logo a span, body.sidebar-main .iq-sidebar-menu .iq-menu li a .badge,
body.sidebar-main .iq-menu li a span span,
body.sidebar-main .navbar-brand span {
    opacity: 0;
    display: none;
    transition: all 0.45s ease 0s;
}

body.sidebar-main .sidebar-wrapper ul h5 {
    opacity: 0;
    transition: all 0.45s ease 0s;
}

.iq-menu-xxx {
    margin-left: 1rem !important;
}

@media (max-width: 1299px) {
    .iq-menu-xxx {
        margin-left: calc(100% - 540px) !important;
    }
}

@media (max-width: 991px) {
    .iq-menu-xxx {
        margin-left: calc(100% - 120px) !important;
    }
}

.img-logo {
    width: 50px;
    border-radius: 18px;
}

.iq-sidebar-menu .iq-menu li a[aria-expanded="true"] .fa-chevron-right {
    transform: rotate(90deg); transition: all 0.3s ease-in-out; -webkit-transition: all 0.3s ease-in-out; -moz-transition: all 0.3s ease-in-out; -o-transition: all 0.3s ease-in-out; -ms-transition: all 0.3s ease-in-out; 
}
.iq-sidebar-menu .iq-menu li a i.fa-chevron-right {
    font-size: 14px;
    width: auto;
}
.iq-sidebar-menu .iq-menu .iq-menu-title {
    display: block;
    color: #ffffff;
    font-size: 18px;
    position: relative;
    /* padding: 18px; */
    font-weight: 700;
    line-height: 18px;
}
.iq-sidebar-menu .iq-menu .iq-menu-title span {
    font-weight: 700;
    line-height: 18px;
}
.iq-sidebar .iq-menu ul li {
    background-color: #ffffff;
    border-radius: 0;
}
.iq-sidebar .iq-menu ul > li:last-child {
    border-radius: 0 0 15px 15px;
}
.iq-sidebar .iq-menu li.has-child {
    
}
/* .iq-sidebar-menu .iq-menu li > a {
    position: relative;
    z-index: 1;
} */
/* .iq-sidebar-menu .iq-menu li a {
    transition: all 0.25s ease !important;
} */

/* .iq-sidebar .iq-menu > li.has-child.active, .iq-sidebar .iq-menu > li.has-child.main-active {
    background-color: #ffffff;
    border-radius: 15px;
} */

.iq-sidebar .iq-menu ul {
    background-color: #ffffff;
    border-radius: 0 0 15px 15px;
    /* z-index: 0; */
    /* overflow: hidden; */
}
.iq-submenu.collapse.show {
    position: relative;
}
.iq-submenu.collapse.show::before {
    position: absolute;
    content: '';
    height: 50px;
    width: 100%;
    top: -50px;
    background: white;
    z-index: -1;
    border-radius: 15px 15px 0 0;
}