.react-datepicker-wrapper {
  display: block;
}

.date-container {
  display: flex;
  justify-content: space-between;
}

.date-container > div, .date-container > select {
    width: 45%;
}

.fw-bold {
  font-weight: bold;
}
