/*.App {*/
/*  text-align: center;*/
/*  color: #2f3b59;*/
/*  font-family: montserrat;*/
/*  background-color: white;*/
/*}*/

/*.App-logo {*/
/*  height: 40vmin;*/
/*  pointer-events: none;*/
/*}*/

/*@media (prefers-reduced-motion: no-preference) {*/
/*  .App-logo {*/
/*    animation: App-logo-spin infinite 20s linear;*/
/*  }*/
/*}*/

/*.App-header {*/
/*  background-color: #282c34;*/
/*  min-height: 100vh;*/
/*  display: flex;*/
/*  flex-direction: column;*/
/*  align-items: center;*/
/*  justify-content: center;*/
/*  font-size: calc(10px + 2vmin);*/
/*  color: white;*/
/*}*/

/*.App-link {*/
/*  color: #61dafb;*/
/*}*/

/*@keyframes App-logo-spin {*/
/*  from {*/
/*    transform: rotate(0deg);*/
/*  }*/
/*  to {*/
/*    transform: rotate(360deg);*/
/*  }*/
/*}*/

/*@media screen and (min-width: 1600px) {*/
/*  .container {*/
/*    max-width: 1400px !important;*/
/*  }*/
/*}*/

/*@media screen and (min-width: 1920px) {*/
/*  .container {*/
/*    max-width: 1720px !important;*/
/*  }*/
/*}*/

/*!* define color *!*/

/*.color-main {*/
/*  color: #0c7fe2 !important;*/
/*}*/

/*.bg-main {*/
/*  background-color: #0c7fe2 !important;*/
/*}*/

/*.color-main-dark {*/
/*  color: #133476 !important;*/
/*}*/

/*.bg-main-dark {*/
/*  background-color: #133476 !important;*/
/*}*/

/*.color-green {*/
/*  color: #85c525 !important;*/
/*}*/

/*.bg-green {*/
/*  background-color: #85c525 !important;*/
/*}*/

/*.color-secondary {*/
/*  color: #374f61 !important;*/
/*}*/

/*.bg-secondary {*/
/*  background-color: #374f61 !important;*/
/*}*/

/*.color-white {*/
/*  color: #fff !important;*/
/*}*/

/*.bg-white {*/
/*  background-color: #fff !important;*/
/*}*/

/*.bg-gradient-main {*/
/*  background: linear-gradient(to right, #3ba5f7, #0075dd) !important;*/
/*}*/

/*.show-on-tablet {*/
/*  display: none;*/
/*}*/

/*@media screen and (min-width: 1024px) and (max-width: 1279px) {*/
/*  .hide-on-tablet {*/
/*    display: none;*/
/*  }*/

/*  .show-on-tablet {*/
/*    display: block;*/
/*  }*/
/*}*/

/*.box-shadow-main {*/
/*  box-shadow: 0 0 10px 0px #2f3b59;*/
/*}*/

/*.img-small {*/
/*  width: 20px;*/
/*  height: 20px;*/
/*}*/

/*.app-title {*/
/*  text-transform: capitalize;*/
/*  font-weight: bold;*/
/*  color: #133476;*/
/*  font-size: 20px !important;*/
/*}*/
/*.app-separator {*/
/*  margin-top: 40px;*/
/*  margin-bottom: 40px;*/
/*}*/

/*@media screen and (min-width: 600px) {*/
/*  .app-title {*/
/*    font-size: 20px !important;*/
/*  }*/
/*}*/

/*@media screen and (min-width: 960px) {*/
/*  .app-title {*/
/*    font-size: 24px !important;*/
/*  }*/
/*}*/

/*@media screen and (min-width: 1024px) {*/
/*  .app-title {*/
/*    font-size: 28px !important;*/
/*  }*/
/*}*/

/*@media screen and (min-width: 1280px) {*/
/*  .app-title {*/
/*    font-size: 2rem !important;*/
/*  }*/
/*}*/

/*@font-face {*/
/*  font-family: 'montserrat';*/
/*  src: local('montserrat'),*/
/*    url(./assets/fonts/monsterat/MONTSERRAT-REGULAR.TTF) format('truetype');*/
/*}*/

/*@font-face {*/
/*  font-family: 'montserrat';*/
/*  font-weight: 700;*/
/*  src: local('montserrat'),*/
/*    url(./assets/fonts/monsterat/MONTSERRAT-SEMIBOLD.TTF) format('truetype');*/
/*}*/

/*@font-face {*/
/*  font-family: 'montserrat';*/
/*  font-weight: 900;*/
/*  src: local('montserrat'),*/
/*    url(./assets/fonts/monsterat/MONTSERRAT-BOLD.TTF) format('truetype');*/
/*}*/

/*@font-face {*/
/*  font-family: 'montserrat';*/
/*  font-weight: 300;*/
/*  src: local('montserrat'),*/
/*    url(./assets/fonts/monsterat/MONTSERRAT-LIGHT.TTF) format('truetype');*/
/*}*/

/*@font-face {*/
/*  font-family: 'montserrat';*/
/*  font-weight: 100;*/
/*  src: local('montserrat'),*/
/*    url(./assets/fonts/monsterat/MONTSERRAT-THIN.TTF) format('truetype');*/
/*}*/

/*.bg-light-blue {*/
/*  background-color: #eff8fe;*/
/*}*/

/*.flex-wrap {*/
/*  display: flex;*/
/*  flex-wrap: wrap;*/
/*}*/
/*.box-shadow-secondary {*/
/*  box-shadow: 0 0 4px #424242;*/
/*}*/
/*.text-bold {*/
/*  font-weight: bold;*/
/*}*/

/*ul.list-dot-blue {*/
/*  list-style: none;*/
/*  margin: 0;*/
/*  padding: 0;*/
/*}*/

/*ul.list-dot-blue li:before {*/
/*  content: '\2022';*/
/*  margin-right: 4px;*/
/*  color: #3ba5f7;*/
/*  font-weight: bold;*/
/*}*/


/*.bg-grey {*/
/*  background-color: grey;*/
/*}*/
