/*body {*/
/*  margin: 0;*/
/*  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',*/
/*    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',*/
/*    sans-serif;*/
/*  -webkit-font-smoothing: antialiased;*/
/*  -moz-osx-font-smoothing: grayscale;*/
/*}*/

/*code {*/
/*  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',*/
/*    monospace;*/
/*}*/
input[type=date].form-control,
input[type=datetime-local].form-control,
input[type=month].form-control,
input[type=time].form-control,
input[type=text].form-control,
input[type=checkbox].form-control,
select.form-control,
input[type=email].form-control,
input[type=tel].form-control,
textarea.form-control,
input[type=password].form-control {
    font-size: 14px;
    padding: 9px 10px;
}

.btn {
    font-size: 14px;
    padding: 7px 15px;
}

.wrapper {
    /* background: transparent !important; */
}

.wrapper .id-sidebar {
    background: red !important;
    /* background: linear-gradient(to right, #089bab 0%, #0db5c8 100%) !important; */
}

select option {
    padding: 0;
}


select:invalid {
    color: #ababab !important;
}

::-webkit-input-placeholder {
    /* Edge */
    color: #ababab !important;
}

:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #ababab !important;
}

::placeholder {
    color: #ababab !important;
}