//.test_class {
//  text-align: center;
//  color: #2f3b59;
//  font-family: montserrat;
//  background-color: white;
//}
.wrapper .id-sidebar {
    background: red !important;
    /* background: linear-gradient(to right, #089bab 0%, #0db5c8 100%) !important; */
}