.profile {
    display: flex;
    background: white;
    padding: 5px;
}
.profile .iq-card-body {
    padding-bottom: 10;
}
.profile-image img {
    width: 130px;
}

.profile-content {
    padding-left: 5px;
}
.iq-card .profile-content .iq-card-header {
    min-height: 30px;
}
.profile-footer img {
    width: 30px;
}

.profile-footer {
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-between; */
}

.profile-footer-item:last-child {
    margin-right: 0;
    font-size: 11px;
    width: 85px;
    line-height: 12px;
}
.size-20 {
    width: 20px !important;
    height: 20px !important;
}
.iq-sidebar-menu ul.iq-menu {
    margin: 0 10px;
}
.m-t-5 {
    margin-top: 5px !important;
}
.profile-image {
    flex-grow: 0;
   flex-shrink: 0;
   flex-basis: 130px;
    background-size: cover;
    background-position: center;
}

.id-sidebar {
    background: #089bab !important;
    background: linear-gradient(to right, #089bab 0%, #0db5c8 100%);
}