﻿body {
  margin:0px;
  background-image:none;
  position:relative;
  left:0px;
  width:1268px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u10398_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1268px;
  height:1500px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10398 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1268px;
  height:1500px;
  display:flex;
}
#u10398 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10398_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10399_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:1000px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10399 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:70px;
  width:170px;
  height:1000px;
  display:flex;
}
#u10399 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10399_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10400_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1268px;
  height:70px;
}
#u10400 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1268px;
  height:70px;
  display:flex;
}
#u10400 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10400_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10401_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1098px;
  height:1430px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10401 {
  border-width:0px;
  position:absolute;
  left:170px;
  top:70px;
  width:1098px;
  height:1430px;
  display:flex;
}
#u10401 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10401_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10402 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:70px;
  width:170px;
  height:210px;
}
#u10402_menu {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:210px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u10403 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:210px;
}
#u10404_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:30px;
}
#u10404 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:30px;
  display:flex;
}
#u10404 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10404_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10405_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:30px;
}
#u10405 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:170px;
  height:30px;
  display:flex;
}
#u10405 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10405_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10406_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:30px;
}
#u10406 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:60px;
  width:170px;
  height:30px;
  display:flex;
}
#u10406 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10406_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10407_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:30px;
}
#u10407 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:90px;
  width:170px;
  height:30px;
  display:flex;
}
#u10407 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10407_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10408_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:30px;
}
#u10408 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:120px;
  width:170px;
  height:30px;
  display:flex;
}
#u10408 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10408_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10409_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:30px;
}
#u10409 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:150px;
  width:170px;
  height:30px;
  display:flex;
}
#u10409 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10409_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10410_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:30px;
}
#u10410 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:180px;
  width:170px;
  height:30px;
  display:flex;
}
#u10410 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10410_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10411 {
  border-width:0px;
  position:absolute;
  left:170px;
  top:90px;
  width:170px;
  height:90px;
  visibility:hidden;
}
#u10411_menu {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:90px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u10412 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:90px;
}
#u10413_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:30px;
}
#u10413 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:30px;
  display:flex;
}
#u10413 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10413_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10414_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:30px;
}
#u10414 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:170px;
  height:30px;
  display:flex;
}
#u10414 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10414_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10415_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:30px;
}
#u10415 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:60px;
  width:170px;
  height:30px;
  display:flex;
}
#u10415 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10415_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10416 {
  border-width:0px;
  position:absolute;
  left:170px;
  top:60px;
  width:170px;
  height:90px;
  visibility:hidden;
}
#u10416_menu {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:90px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u10417 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:90px;
}
#u10418_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:30px;
}
#u10418 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:30px;
  display:flex;
}
#u10418 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10418_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10419_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:30px;
}
#u10419 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:170px;
  height:30px;
  display:flex;
}
#u10419 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10419_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10420_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:30px;
}
#u10420 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:60px;
  width:170px;
  height:30px;
  display:flex;
}
#u10420 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10420_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10421_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1069px;
  height:1330px;
  background:-webkit-linear-gradient(0deg, rgba(255, 255, 255, 1) NaN%, rgba(242, 242, 242, 1) NaN%, rgba(228, 228, 228, 1) NaN%, rgba(255, 255, 255, 1) NaN%);
  background:-moz-linear-gradient(90deg, rgba(255, 255, 255, 1) NaN%, rgba(242, 242, 242, 1) NaN%, rgba(228, 228, 228, 1) NaN%, rgba(255, 255, 255, 1) NaN%);
  background:linear-gradient(90deg, rgba(255, 255, 255, 1) NaN%, rgba(242, 242, 242, 1) NaN%, rgba(228, 228, 228, 1) NaN%, rgba(255, 255, 255, 1) NaN%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u10421 {
  border-width:0px;
  position:absolute;
  left:181px;
  top:112px;
  width:1069px;
  height:1330px;
  display:flex;
  font-family:'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u10421 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10421_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10422_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10422 {
  border-width:0px;
  position:absolute;
  left:1123px;
  top:1454px;
  width:122px;
  height:32px;
  display:flex;
}
#u10422 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10422_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10423 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10424_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:7px;
  height:1048px;
}
#u10424 {
  border-width:0px;
  position:absolute;
  left:714px;
  top:-368px;
  width:3px;
  height:1044px;
  display:flex;
  -webkit-transform:rotate(-89.9757306450745deg);
  -moz-transform:rotate(-89.9757306450745deg);
  -ms-transform:rotate(-89.9757306450745deg);
  transform:rotate(-89.9757306450745deg);
}
#u10424 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10424_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10425_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:1046px;
}
#u10425 {
  border-width:0px;
  position:absolute;
  left:715px;
  top:-373px;
  width:1px;
  height:1045px;
  display:flex;
  -webkit-transform:rotate(89.9699351940847deg);
  -moz-transform:rotate(89.9699351940847deg);
  -ms-transform:rotate(89.9699351940847deg);
  transform:rotate(89.9699351940847deg);
}
#u10425 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10425_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10426_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:21px;
}
#u10426 {
  border-width:0px;
  position:absolute;
  left:1177px;
  top:130px;
  width:1px;
  height:20px;
  display:flex;
  -webkit-transform:rotate(-0.515405303497873deg);
  -moz-transform:rotate(-0.515405303497873deg);
  -ms-transform:rotate(-0.515405303497873deg);
  transform:rotate(-0.515405303497873deg);
}
#u10426 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10426_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10427_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u10427 {
  border-width:0px;
  position:absolute;
  left:193px;
  top:126px;
  width:224px;
  height:21px;
  display:flex;
  font-family:'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u10427 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10427_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10428_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1042px;
  height:153px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u10428 {
  border-width:0px;
  position:absolute;
  left:194px;
  top:177px;
  width:1042px;
  height:153px;
  display:flex;
  text-align:left;
}
#u10428 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10428_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10429 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10430_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10430 {
  border-width:0px;
  position:absolute;
  left:850px;
  top:193px;
  width:89px;
  height:16px;
  display:flex;
}
#u10430 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10430_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10431 label {
  left:0px;
  width:100%;
}
#u10431_img {
  border-width:0px;
  position:absolute;
  left:66px;
  top:2px;
  width:12px;
  height:12px;
}
#u10431 {
  border-width:0px;
  position:absolute;
  left:1019px;
  top:193px;
  width:78px;
  height:15px;
  display:flex;
}
#u10431 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u10431_img.selected {
}
#u10431.selected {
}
#u10431_img.disabled {
}
#u10431.disabled {
}
#u10431_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:62px;
  word-wrap:break-word;
  text-transform:none;
}
#u10431_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u10432 label {
  left:0px;
  width:100%;
}
#u10432_img {
  border-width:0px;
  position:absolute;
  left:87px;
  top:2px;
  width:12px;
  height:12px;
}
#u10432 {
  border-width:0px;
  position:absolute;
  left:1110px;
  top:193px;
  width:99px;
  height:15px;
  display:flex;
}
#u10432 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u10432_img.selected {
}
#u10432.selected {
}
#u10432_img.disabled {
}
#u10432.disabled {
}
#u10432_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:83px;
  word-wrap:break-word;
  text-transform:none;
}
#u10432_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u10433 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10434_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10434 {
  border-width:0px;
  position:absolute;
  left:850px;
  top:237px;
  width:115px;
  height:16px;
  display:flex;
}
#u10434 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10434_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10435_input {
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:22px;
  padding:3px 2px 3px 2px;
  font-family:'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u10435_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:22px;
  padding:3px 2px 3px 2px;
  font-family:'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u10435_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10435 {
  border-width:0px;
  position:absolute;
  left:1013px;
  top:237px;
  width:196px;
  height:22px;
  display:flex;
}
#u10435 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10435_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:22px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10435.disabled {
}
.u10435_input_option {
}
#u10436 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10437_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10437 {
  border-width:0px;
  position:absolute;
  left:223px;
  top:283px;
  width:83px;
  height:16px;
  display:flex;
}
#u10437 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10437_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u10438_input {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:22px;
  padding:3px 2px 3px 2px;
  font-family:'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u10438_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:22px;
  padding:3px 2px 3px 2px;
  font-family:'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u10438_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10438 {
  border-width:0px;
  position:absolute;
  left:335px;
  top:283px;
  width:151px;
  height:22px;
  display:flex;
}
#u10438 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10438_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:22px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10438.disabled {
}
.u10438_input_option {
}
#u10439 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10440_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10440 {
  border-width:0px;
  position:absolute;
  left:746px;
  top:283px;
  width:70px;
  height:16px;
  display:flex;
}
#u10440 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10440_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10441_input {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:22px;
  padding:3px 2px 3px 2px;
  font-family:'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u10441_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:22px;
  padding:3px 2px 3px 2px;
  font-family:'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u10441_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10441 {
  border-width:0px;
  position:absolute;
  left:840px;
  top:283px;
  width:86px;
  height:22px;
  display:flex;
}
#u10441 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10441_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:22px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10441.disabled {
}
.u10441_input_option {
}
#u10442 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10443_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10443 {
  border-width:0px;
  position:absolute;
  left:544px;
  top:283px;
  width:64px;
  height:16px;
  display:flex;
}
#u10443 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10443_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10444_input {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:22px;
  padding:3px 2px 3px 2px;
  font-family:'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u10444_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:22px;
  padding:3px 2px 3px 2px;
  font-family:'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u10444_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10444 {
  border-width:0px;
  position:absolute;
  left:626px;
  top:283px;
  width:82px;
  height:22px;
  display:flex;
}
#u10444 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10444_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:22px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10444.disabled {
}
.u10444_input_option {
}
#u10446 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:253px;
  width:170px;
  height:270px;
}
#u10446_menu {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:270px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u10447 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:270px;
}
#u10448_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:30px;
}
#u10448 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:30px;
  display:flex;
  text-align:left;
}
#u10448 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10448_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10449_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:30px;
}
#u10449 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:170px;
  height:30px;
  display:flex;
  text-align:left;
}
#u10449 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10449_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10450_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:30px;
}
#u10450 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:60px;
  width:170px;
  height:30px;
  display:flex;
  text-align:left;
}
#u10450 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10450_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10451_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:30px;
}
#u10451 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:90px;
  width:170px;
  height:30px;
  display:flex;
  text-align:left;
}
#u10451 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10451_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10452_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:30px;
}
#u10452 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:120px;
  width:170px;
  height:30px;
  display:flex;
  text-align:left;
}
#u10452 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10452_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10453_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:30px;
}
#u10453 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:150px;
  width:170px;
  height:30px;
  display:flex;
  text-align:left;
}
#u10453 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10453_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10454_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:30px;
}
#u10454 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:180px;
  width:170px;
  height:30px;
  display:flex;
  text-align:left;
}
#u10454 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10454_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10455_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:30px;
}
#u10455 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:210px;
  width:170px;
  height:30px;
  display:flex;
  text-align:left;
}
#u10455 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10455_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10456_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:30px;
}
#u10456 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:240px;
  width:170px;
  height:30px;
  display:flex;
  text-align:left;
}
#u10456 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10456_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10457_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u10457 {
  border-width:0px;
  position:absolute;
  left:142px;
  top:348px;
  width:20px;
  height:20px;
  display:flex;
}
#u10457 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10457_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10458_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u10458 {
  border-width:0px;
  position:absolute;
  left:142px;
  top:318px;
  width:20px;
  height:20px;
  display:flex;
}
#u10458 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10458_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10459_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u10459 {
  border-width:0px;
  position:absolute;
  left:142px;
  top:467px;
  width:20px;
  height:20px;
  display:flex;
}
#u10459 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10459_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10460_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u10460 {
  border-width:0px;
  position:absolute;
  left:193px;
  top:80px;
  width:224px;
  height:21px;
  display:flex;
  font-family:'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u10460 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10460_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10461 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10462_input {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:25px;
  padding:3px 2px 3px 2px;
  font-family:'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u10462_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:25px;
  padding:3px 2px 3px 2px;
  font-family:'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u10462_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:25px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10462 {
  border-width:0px;
  position:absolute;
  left:335px;
  top:191px;
  width:151px;
  height:25px;
  display:flex;
}
#u10462 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10462_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:25px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10462.disabled {
}
#u10463_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10463 {
  border-width:0px;
  position:absolute;
  left:222px;
  top:196px;
  width:46px;
  height:16px;
  display:flex;
}
#u10463 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10463_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u10464 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10465 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10466_input {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:25px;
  padding:3px 2px 3px 2px;
  font-family:'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u10466_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:25px;
  padding:3px 2px 3px 2px;
  font-family:'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u10466_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:25px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10466 {
  border-width:0px;
  position:absolute;
  left:652px;
  top:190px;
  width:115px;
  height:25px;
  display:flex;
}
#u10466 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10466_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:25px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10466.disabled {
}
#u10467_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:28px;
}
#u10467 {
  border-width:0px;
  position:absolute;
  left:767px;
  top:190px;
  width:30px;
  height:28px;
  display:flex;
}
#u10467 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10467_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10468_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10468 {
  border-width:0px;
  position:absolute;
  left:544px;
  top:196px;
  width:67px;
  height:16px;
  display:flex;
}
#u10468 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10468_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u10469 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10470 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10471_input {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:25px;
  padding:3px 2px 3px 2px;
  font-family:'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u10471_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:25px;
  padding:3px 2px 3px 2px;
  font-family:'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u10471_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:25px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10471 {
  border-width:0px;
  position:absolute;
  left:335px;
  top:235px;
  width:120px;
  height:25px;
  display:flex;
}
#u10471 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10471_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:25px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10471.disabled {
}
#u10472_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:28px;
}
#u10472 {
  border-width:0px;
  position:absolute;
  left:455px;
  top:235px;
  width:31px;
  height:28px;
  display:flex;
}
#u10472 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10472_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10473_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10473 {
  border-width:0px;
  position:absolute;
  left:223px;
  top:241px;
  width:110px;
  height:16px;
  display:flex;
}
#u10473 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10473_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u10474 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10475 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10476_input {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:25px;
  padding:3px 2px 3px 2px;
  font-family:'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u10476_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:25px;
  padding:3px 2px 3px 2px;
  font-family:'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u10476_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:25px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10476 {
  border-width:0px;
  position:absolute;
  left:652px;
  top:232px;
  width:115px;
  height:25px;
  display:flex;
}
#u10476 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10476_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:25px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10476.disabled {
}
#u10477_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:28px;
}
#u10477 {
  border-width:0px;
  position:absolute;
  left:767px;
  top:232px;
  width:30px;
  height:28px;
  display:flex;
}
#u10477 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10477_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10478_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10478 {
  border-width:0px;
  position:absolute;
  left:544px;
  top:238px;
  width:64px;
  height:16px;
  display:flex;
}
#u10478 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10478_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u10479 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10480_input {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:25px;
  padding:3px 2px 3px 2px;
  font-family:'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u10480_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:25px;
  padding:3px 2px 3px 2px;
  font-family:'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u10480_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:25px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10480 {
  border-width:0px;
  position:absolute;
  left:1058px;
  top:280px;
  width:151px;
  height:25px;
  display:flex;
}
#u10480 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10480_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:25px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10480.disabled {
}
#u10481_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10481 {
  border-width:0px;
  position:absolute;
  left:966px;
  top:287px;
  width:79px;
  height:16px;
  display:flex;
}
#u10481 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10481_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u10482 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10483_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:7px;
  height:1048px;
}
#u10483 {
  border-width:0px;
  position:absolute;
  left:718px;
  top:-156px;
  width:3px;
  height:1044px;
  display:flex;
  -webkit-transform:rotate(-89.9757306450745deg);
  -moz-transform:rotate(-89.9757306450745deg);
  -ms-transform:rotate(-89.9757306450745deg);
  transform:rotate(-89.9757306450745deg);
}
#u10483 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10483_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10484_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:1046px;
}
#u10484 {
  border-width:0px;
  position:absolute;
  left:719px;
  top:-161px;
  width:1px;
  height:1045px;
  display:flex;
  -webkit-transform:rotate(89.9699351940847deg);
  -moz-transform:rotate(89.9699351940847deg);
  -ms-transform:rotate(89.9699351940847deg);
  transform:rotate(89.9699351940847deg);
}
#u10484 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10484_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10485_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:562px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u10485 {
  border-width:0px;
  position:absolute;
  left:197px;
  top:342px;
  width:562px;
  height:16px;
  display:flex;
  font-family:'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u10485 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10485_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10486 {
  border-width:0px;
  position:absolute;
  left:202px;
  top:388px;
  width:1035px;
  height:234px;
}
#u10487_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:46px;
}
#u10487 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:46px;
  display:flex;
  font-family:'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u10487 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10487_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10488_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:46px;
}
#u10488 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:0px;
  width:108px;
  height:46px;
  display:flex;
  font-family:'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u10488 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10488_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10489_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:46px;
}
#u10489 {
  border-width:0px;
  position:absolute;
  left:143px;
  top:0px;
  width:103px;
  height:46px;
  display:flex;
  font-family:'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u10489 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10489_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10490_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:46px;
}
#u10490 {
  border-width:0px;
  position:absolute;
  left:246px;
  top:0px;
  width:184px;
  height:46px;
  display:flex;
  font-family:'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u10490 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10490_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10491_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:46px;
}
#u10491 {
  border-width:0px;
  position:absolute;
  left:430px;
  top:0px;
  width:94px;
  height:46px;
  display:flex;
  font-family:'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u10491 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10491_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10492_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:46px;
}
#u10492 {
  border-width:0px;
  position:absolute;
  left:524px;
  top:0px;
  width:94px;
  height:46px;
  display:flex;
  font-family:'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u10492 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10492_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10493_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:46px;
}
#u10493 {
  border-width:0px;
  position:absolute;
  left:618px;
  top:0px;
  width:104px;
  height:46px;
  display:flex;
  font-family:'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u10493 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10493_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10494_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:46px;
}
#u10494 {
  border-width:0px;
  position:absolute;
  left:722px;
  top:0px;
  width:100px;
  height:46px;
  display:flex;
  font-family:'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u10494 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10494_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10495_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:46px;
}
#u10495 {
  border-width:0px;
  position:absolute;
  left:822px;
  top:0px;
  width:110px;
  height:46px;
  display:flex;
  font-family:'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u10495 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10495_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10496_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:46px;
}
#u10496 {
  border-width:0px;
  position:absolute;
  left:932px;
  top:0px;
  width:103px;
  height:46px;
  display:flex;
  font-family:'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u10496 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10496_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10497_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:94px;
}
#u10497 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:46px;
  width:35px;
  height:94px;
  display:flex;
}
#u10497 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10497_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10498_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:94px;
}
#u10498 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:46px;
  width:108px;
  height:94px;
  display:flex;
  text-align:left;
}
#u10498 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10498_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10499_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:94px;
}
#u10499 {
  border-width:0px;
  position:absolute;
  left:143px;
  top:46px;
  width:103px;
  height:94px;
  display:flex;
}
#u10499 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10499_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10500_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:94px;
}
#u10500 {
  border-width:0px;
  position:absolute;
  left:246px;
  top:46px;
  width:184px;
  height:94px;
  display:flex;
  text-align:left;
}
#u10500 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10500_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10501_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:94px;
}
#u10501 {
  border-width:0px;
  position:absolute;
  left:430px;
  top:46px;
  width:94px;
  height:94px;
  display:flex;
}
#u10501 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10501_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10502_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:94px;
}
#u10502 {
  border-width:0px;
  position:absolute;
  left:524px;
  top:46px;
  width:94px;
  height:94px;
  display:flex;
}
#u10502 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10502_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10503_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:94px;
}
#u10503 {
  border-width:0px;
  position:absolute;
  left:618px;
  top:46px;
  width:104px;
  height:94px;
  display:flex;
}
#u10503 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10503_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10504_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:94px;
}
#u10504 {
  border-width:0px;
  position:absolute;
  left:722px;
  top:46px;
  width:100px;
  height:94px;
  display:flex;
}
#u10504 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10504_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10505_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:94px;
}
#u10505 {
  border-width:0px;
  position:absolute;
  left:822px;
  top:46px;
  width:110px;
  height:94px;
  display:flex;
}
#u10505 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10505_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10506_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:94px;
}
#u10506 {
  border-width:0px;
  position:absolute;
  left:932px;
  top:46px;
  width:103px;
  height:94px;
  display:flex;
  color:#02A7F0;
}
#u10506 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10506_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10507_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:94px;
}
#u10507 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:140px;
  width:35px;
  height:94px;
  display:flex;
}
#u10507 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10507_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10508_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:94px;
}
#u10508 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:140px;
  width:108px;
  height:94px;
  display:flex;
  text-align:left;
}
#u10508 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10508_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10509_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:94px;
}
#u10509 {
  border-width:0px;
  position:absolute;
  left:143px;
  top:140px;
  width:103px;
  height:94px;
  display:flex;
}
#u10509 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10509_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10510_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:94px;
}
#u10510 {
  border-width:0px;
  position:absolute;
  left:246px;
  top:140px;
  width:184px;
  height:94px;
  display:flex;
  text-align:left;
}
#u10510 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10510_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10511_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:94px;
}
#u10511 {
  border-width:0px;
  position:absolute;
  left:430px;
  top:140px;
  width:94px;
  height:94px;
  display:flex;
}
#u10511 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10511_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10512_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:94px;
}
#u10512 {
  border-width:0px;
  position:absolute;
  left:524px;
  top:140px;
  width:94px;
  height:94px;
  display:flex;
}
#u10512 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10512_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10513_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:94px;
}
#u10513 {
  border-width:0px;
  position:absolute;
  left:618px;
  top:140px;
  width:104px;
  height:94px;
  display:flex;
}
#u10513 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10513_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10514_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:94px;
}
#u10514 {
  border-width:0px;
  position:absolute;
  left:722px;
  top:140px;
  width:100px;
  height:94px;
  display:flex;
}
#u10514 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10514_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10515_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:94px;
}
#u10515 {
  border-width:0px;
  position:absolute;
  left:822px;
  top:140px;
  width:110px;
  height:94px;
  display:flex;
}
#u10515 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10515_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10516_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:94px;
}
#u10516 {
  border-width:0px;
  position:absolute;
  left:932px;
  top:140px;
  width:103px;
  height:94px;
  display:flex;
  color:#02A7F0;
}
#u10516 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10516_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
